<!DOCTYPE html>
<html lang="ja">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="{% static 'mypage/css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <div class="center"><a href="{% url 'home' %}"><img src="{% static 'mypage/logo.png' %}" alt="ロゴ" class="menu-logo"></a></div>
        <h2>ユーザー登録</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_username">ユーザー名</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password1">パスワード</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password2">パスワード（確認用）</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <div class="container1">
            <button type="submit">登録</button>
            <!-- 前のページに戻るボタン -->
            <div onclick="history.back()" class="back-button">前のページに戻る</div>
            </div>
        </form>
                
    </div>
    <div class="center">
        <p>すでにアカウントをお持ちですか？ <a href="{% url 'login' %}">こちらからログイン</a></p>
    </div>

</body>
</html>
