{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}

    {% load static %}
    <style>
        .map-container {
            position: relative;
            width: 80%;
            margin: auto;
            text-align: center;
        }



        /* 北海道の画像 */
        .hokkaido-image {
            position: absolute;
            top: 10px; /* 北海道の画像を地図内の正しい位置に配置 */
            left: 538.5px;
            width: 20.6%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */
        }

        /* 東北の地図　*/
        .touhoku-image{
            position: absolute;
            top:152.8px;
            left: 493.5px;
            width: 15%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 関東の地図　*/
        .kanto-image{
            position: absolute;
            top: 293.1px;
            left: 510.2px;
            width: 7.3%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 中部の地図　*/
        .tyubu-image{
            position: absolute;
            top: 249.6px;
            left: 431.2px;
            width: 12.6%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 近畿の地図　*/
        .kinki-image{
            position: absolute;
            top: 338.8px;
            left: 404.2px;
            width: 7.3%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 中国の地図　*/
        .tyugoku-image{
            position: absolute;
            top: 308.8px;
            left: 316px;
            width: 9.6%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 四国の地図　*/
        .shikoku-image{
            position: absolute;
            top: 371.6px;
            left: 351.4px;
            width: 6.6%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }

        /* 九州の地図　*/
        .kyusyu-image{
            position: absolute;
            top: 363.9px;
            left: 226.1px;
            width: 14.4%; /* 画像のサイズ調整 */
            z-index: 10; /* 画像が他のコンテンツの上に表示されるようにする */        
        }



        
        /* テキストのスタイル（初期状態では非表示） */
        .text-overlay {
          position: absolute;
          top: 50%; /* 画像の中央に表示 */
          left: 50%;
          transform: translate(-50%, -50%); /* 中央揃え */
          color: rgb(60, 172, 22);
          font-size: 30px;
          font-weight: bold;
          z-index: 200; /* 画像より前面に表示 */
          display: none; /* 初期状態では非表示 */
          /*background-color: black; /* 背景を半透明にする */
          padding: 5px 10px;
          border-radius: 5px;
        }

        /* ホバー時にテキストを表示 */
       .image-container:hover .text-overlay {
          display: block; /* ホバー時にテキストを表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .hokkaido-image{
          transform: scale(1.5); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .touhoku-image{
          transform: scale(1.5); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .kanto-image{
          transform: scale(1.5); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .tyubu-image{
          transform: scale(1.6); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .kinki-image{
          transform: scale(1.6); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .tyugoku-image{
          transform: scale(1.6); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .shikoku-image{
          transform: scale(1.6); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }

        /* 画像をホバーした時に拡大する */
       .image-container:hover .kyusyu-image{
          transform: scale(1.6); /* 拡大効果 */
          z-index: 100; /* 前面に表示 */
          transition: transform 0.5s ease; /* アニメーションの速度を指定 */
          filter: drop-shadow(0  0 5px rgb(67, 67, 67))
        }


    </style>
</head>
<body>
    <h1>日本地図</h1>
    <div class="map-container">    

        <div class="image-container">
            <img src="{% static 'mypage/hokkaido_map.png' %}" alt="北海道" class="hokkaido-image">
            <div class="text-overlay">北海道</div> <!-- テキストを表示する要素 -->
        </div>

        <div class="image-container">
            <img src="{% static 'mypage/touhoku_map.png' %}" alt="東北" class="touhoku-image">
            <div class="text-overlay">東北</div> <!-- テキストを表示する要素 -->
        </div>

        <div class="image-container">
            <img src="{% static 'mypage/kanto_map.png' %}" alt="関東" class="kanto-image">
            <div class="text-overlay">関東</div> <!-- テキストを表示する要素 -->
        </div>

        <div class="image-container">
            <img src="{% static 'mypage/tyubu_map.png' %}" alt="中部" class="tyubu-image">
            <div class="text-overlay">中部</div> <!-- テキストを表示する要素 -->
        </div>
        
        <div class="image-container">
            <img src="{% static 'mypage/kinki_map.png' %}" alt="近畿" class="kinki-image">
            <div class="text-overlay">近畿</div> <!-- テキストを表示する要素 -->
        </div>
        
        <div class="image-container">
            <img src="{% static 'mypage/tyugoku_map.png' %}" alt="中国" class="tyugoku-image">
            <div class="text-overlay">中国</div> <!-- テキストを表示する要素 -->
        </div>

        <div class="image-container">
            <img src="{% static 'mypage/shikoku_map.png' %}" alt="四国" class="shikoku-image">
            <div class="text-overlay">四国</div> <!-- テキストを表示する要素 -->
        </div>
        
        <div class="image-container">
            <img src="{% static 'mypage/kyusyu_map.png' %}" alt="九州" class="kyusyu-image">
            <div class="text-overlay">九州</div> <!-- テキストを表示する要素 -->
        </div>
    </div>
</body>

{% endblock %}