{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}

    {% load static %}
    <style>

        p {
        line-height: 1;
        }

        .map-container {
            position: relative;
            width: 1010px;
            height:600px;
            margin: auto;
            text-align: center;
            padding-top: 20px;
            /*border: solid 3px;*/
        }


        /* 各地方の画像をmap-container内に配置 */
        .hokkaido, .touhoku, .kanto, .tyubu, .kinki, .tyugoku, .shikoku, .kyusyu {
            position: absolute;
            z-index: 10; 
        }

        /* 北海道の画像 */
        .hokkaido {
            top: 10px; 
            left: 538.5px;
            width: 20.6%;
        }

        /* 東北の地図 */
        .touhoku {
            top: 152.8px;
            left: 493.5px;
            width: 15%;
        }

        /* 関東の地図 */
        .kanto {
            top: 293.1px;
            left: 510.2px;
            width: 7.3%;
        }

        /* 中部の地図 */
        .tyubu {
            top: 249.6px;
            left: 431.2px;
            width: 12.6%;
        }

        /* 近畿の地図 */
        .kinki {
            top: 338.8px;
            left: 404.2px;
            width: 7.3%;
        }

        /* 中国の地図 */
        .tyugoku {
            top: 308.8px;
            left: 316px;
            width: 9.6%;
        }

        /* 四国の地図 */
        .shikoku {
            top: 371.6px;
            left: 351.4px;
            width: 6.6%;
        }

        /* 九州の地図 */
        .kyusyu {
            top: 363.9px;
            left: 226.1px;
            width: 14.4%;
        }

        /* テキストのスタイル（初期状態では非表示） */
        .text-overlay {
            position: absolute;
            top: 5%; 
            left: 40%;
            transform: translate(-50%, -50%);
            color: rgb(60, 172, 22);
            font-size: 30px;
            font-weight: bold;
            z-index: 200; 
            display: none;
            padding: 5px 10px;
            border-radius: 5px;
        }

        /* ホバー時にテキストを表示 */
        .image-container:hover .text-overlay {
            display: block;
            transition: transform 0.5s ease;
        }

        /* ホバー時に各地方の画像を拡大 */
        .image-container:hover img {
            transform: scale(1.5);
            z-index: 100;
            transition: transform 0.5s ease;
            filter: drop-shadow(0  0 5px rgb(67, 67, 67));
        }



        .emphasize {
          border-left:solid 5px rgb(60, 172, 22);
          padding:0px 8px;
        }


        /* 横並びのブロック配置 */
        .block-container {
         display: flex;
         justify-content: left; /* ブロックを中央に配置 */
         gap: 20px; /* 各ブロックの間隔を設定 */
         margin-top: 50px; /* 地図との間にスペースを追加 */
         margin-left: 50px;
        }

    
        .block {
           width: 250px;
           height: 200px;
           background-color: #f4f4f4; /* ブロックの色 */
           border: 2px solid gray;
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 20px;
           font-weight: bold;
           border-radius: 10px; /* 角を少し丸める */
        }

        @media (max-width: 768px) {
         .layout-container {
             width: 100%; /* 画面幅にフィットさせる */
            }
        }

        @media (max-width: 480px) {
         .layout-container {
             flex-direction: column; /* 列方向に変更 */
             width: 100%;
          }

          p {
        line-height: 1;
        }

        .map-container {
            position: relative;
            width: 320px;
            height: 350px;
            margin: auto;
            border: solid 3px black;
        }


        .image-container {
          position: absolute;
          z-index: 10; 
          transform-origin: left; /* 中心を基準に変形 */
        }

        
        /*
        .text-overlay {
            position: absolute;
            top: 20%;  
            left: 0%;  
            color: rgb(60, 172, 22);
            font-size: 15px;
            font-weight: bold;
            z-index: 200; 
            display: none;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #f4f4f4;
            border: solid 2px gray;
        }
        */

        .image-container img{
            width: 100%;
        }

        .japan {
            top: 0%;
            left: 0%;
            width: 100%;
        }

        /* 北海道の画像 */
        .hokkaido {
            top: 0.3%; 
            left: 57.8%;
            width: 41%;
        }

        /* 東北の地図 */
        .touhoku {
            top: 26.2%; 
            left: 48.6%;
            width: 30.4%;
        }

        /* 関東の地図 */
        .kanto {
            top: 52%; 
            left: 52.2%;
            width: 14.4%;
        }

        /* 中部の地図 */
        .tyubu {
            top: 44.0%; 
            left: 36.2%;
            width: 25.4%;
        }

        /* 近畿の地図 */
        .kinki {
            top: 60.2%; 
            left: 30.8%;
            width: 14.8%;
        }

        /* 中国の地図 */
        .tyugoku {
            top: 54.8%; 
            left: 13.2%;
            width: 19.4%;
        }

        /* 四国の地図 */
        .shikoku {
            top: 66.4%; 
            left: 20.4%;
            width: 13%;
        }

        /* 九州の地図 */
        .kyusyu {
            top: 65%; 
            left: -4.6%;
            width: 28.8%;
        }

        

        
        .image-container:hover .text-overlay {
            display: none;
            
        }
        

         
        .image-container:hover img {
            filter: brightness(0.9); /* 画像を暗くする */
        }
        


        .emphasize {
          border-left:solid 5px rgb(60, 172, 22);
          padding:0px 8px;
        }


        /* 横並びのブロック配置 */
        .block-container {
         display: flex;
         justify-content: left; /* ブロックを中央に配置 */
         gap: 20px; /* 各ブロックの間隔を設定 */
         margin-top: 20px; /* 地図との間にスペースを追加 */
         margin-left: 20px;
        }

    
        .block {
           width: 80px;
           height: 60px;
           background-color: #f4f4f4; /* ブロックの色 */
           border: 2px solid gray;
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 13px;
           font-weight: bold;
           border-radius: 10px; /* 角を少し丸める */
        }
        }
    </style>

  <body>

    <div class="emphasize">
        <h1>日本全国のらーめん</h1>
    </div>

    

    <div class="map-container">   
    <!--
        <div class="image-container japan">
            <img src="{% static 'mypage/japan_map.png' %}" alt="日本" >
        </div>
    -->
        
        <div class="image-container hokkaido">
            <img src="{% static 'mypage/hokkaido_map.png' %}" alt="北海道" >
            
        </div>

        <div class="image-container touhoku">
            <img src="{% static 'mypage/touhoku_map.png' %}" alt="東北" >
            
        </div>

        <div class="image-container kanto">
            <img src="{% static 'mypage/kanto_map.png' %}" alt="関東" >
            
        </div>

        <div class="image-container tyubu">
            <img src="{% static 'mypage/tyubu_map.png' %}" alt="中部">
            
        </div>

        <div class="image-container kinki">
            <a href="{% url 'kinki' %}">
            <img src="{% static 'mypage/kinki_map.png' %}" alt="近畿" >
            </a>
            
        </div>

        <div class="image-container tyugoku">
            <img src="{% static 'mypage/tyugoku_map.png' %}" alt="中国">
            
        </div>

        <div class="image-container shikoku">
            <img src="{% static 'mypage/shikoku_map.png' %}" alt="四国">
           
        </div>
        

        <div class="image-container kyusyu">
            <img src="{% static 'mypage/kyusyu_map.png' %}" alt="九州">
            
        </div>
    </div>


    <!-- 3つのブロックを横並びに配置 -->
    <div class="block-container">
        <div class="block">北海道</div>
        <div class="block">東北</div>
        <div class="block">関東</div>
    </div>

    <div class="block-container">
        <div class="block">中部</div>
        <div class="block">近畿</div>
        <div class="block">中国</div>
    </div>

    <div class="block-container">
        <div class="block">四国</div>
        <div class="block">九州</div>
        
    </div>
  </body>
    
{% endblock %}