{% extends 'base.html' %}

{% block title %}しま彰{% endblock %}

{% block content %}

<style>
    p {
        line-height: 1.5;
        padding: 0px;
        margin: 4px;
    }

    h2{
        margin: 0px;
    }

    .date{
        font-size: 16px;
        color: gray;
    }

    .emphasize {
        border-left: solid 5px rgb(123, 208, 95);
        padding: 0px 8px;
    }

    .title{
        background-color: rgb(220, 160, 30);
        font-weight: bold;
        color: white;
        padding: 0.5px 10px 0.5px 10px;
        border-radius: 20px;
        margin:10px 147px 10px 0px;
        text-align: center;
        
    }
    

    .layout-container{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .image-container{
        width: 500px;
        margin: 0px 10px;
    }

    .content-container{
        width: 500px;
        margin: 50px 10px;
    }

    .content-container1{
        display: flex;
        justify-content: left;
        border: solid 2px gray;
        border-radius: 10px;
        background-color: #f4f4f4;
        padding-top: 10px;
        padding-right: 10px;
    }

    .content-container1 img{
        width: 40%;
        margin: auto;
    }
    .content-container2{
        justify-content: left;
    }

    .content-container3{
        justify-content: left;
        border: solid 2px gray;
        border-radius: 10px;
        background-color: #f4f4f4;
        margin-top: 10px;
        padding: 10px;
    }

    .main-image-container {
        width: 500px;
        height: 375px;
        position: relative;
        margin: auto;
        border-radius: 10px;
    }

    .main-image-container img {
        width: 100%;
        height: auto;
        display: none; /* 初期では全て非表示 */
        border-radius: 10px;
    }

    .main-image-container img.active {
        display: block; /* 表示する画像だけをブロック表示 */
        
    }

    .thumbnail-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .thumbnail-container img {
        width: 100px;
        height: 75px;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.6;
        border-radius: 7px;
    }

    .thumbnail-container img:hover {
        opacity: 1;

    }

    .thumbnail-container img.active-thumbnail {
        border: solid 3px rgb(60, 172, 22);
        opacity: 1;
    }

</style>

<body>
    {% load static %}
    <div class="emphasize">
        <h1>しま彰</h1>
    </div>

    <div class="layout-container">
      <div class="image-container">
           <h2>W中華そば(2玉)　&yen;800</h2>
              <div class="date">
                2024年9月
              </div>
         <!-- メイン画像 -->
         <div class="main-image-container">
             <img src="{% static 'mypage/shimasyo1.jpg' %}" class="active" alt="画像1">
             <img src="{% static 'mypage/shimasyo2.jpg' %}" alt="画像2">
             <img src="{% static 'mypage/shimasyo3.jpg' %}" alt="画像3">
             <img src="{% static 'mypage/shimasyo4.jpg' %}" alt="画像4">
         </div>

         <!-- サムネイル画像のメニュー -->
          <div class="thumbnail-container">
             <img src="{% static 'mypage/shimasyo1.jpg' %}" class="active-thumbnail" alt="画像1のサムネイル" data-index="0">
             <img src="{% static 'mypage/shimasyo2.jpg' %}" alt="画像2のサムネイル" data-index="1">
             <img src="{% static 'mypage/shimasyo3.jpg' %}" alt="画像3のサムネイル" data-index="2">
             <img src="{% static 'mypage/shimasyo4.jpg' %}" alt="画像4のサムネイル" data-index="3">
         </div>
      </div>

      <div class="content-container">
         <div class="content-container1">
             <img src="{% static 'mypage/shimasyo_point.png' %}" alt="しま彰地図">
             <div class="content-container2">
                  <div class="title">
                     場所
                  </div>
                  <p> 和歌山県紀の川市貴志川町長原</p>
                  <div class="title">
                     営業時間
                  </div>
                  <p> 11:00 ~ 13:15</p>
                  <div class="title">
                     定休日               
                  </div>
                  <p>　火</p>
             </div>
          </div>

          <div class="content-container3">
              <p>和歌山らーめんの名店、うらしまのDNAを引き継いだお店。</p>
              <p>臭みのない豚骨がまろやかで、醬油との相性も抜群なスープ。</p>
              <p>チャーシューが絶妙な味付けで、全ての要素がまとまった一杯。デフォルトの中華そばの価格は驚異の600円とコスパが良すぎます。</p>
              <p>立地でなかなか訪問難易度は高いですが、行けば満足すること間違いなしです。</p>        
          </div>
      </div>
    </div>
    

    <script>
        // メイン画像とサムネイルの要素を取得
        const mainImages = document.querySelectorAll('.main-image-container img');
        const thumbnails = document.querySelectorAll('.thumbnail-container img');

        thumbnails.forEach((thumbnail, index) => {
            // サムネイルをクリックした時のイベント
            thumbnail.addEventListener('click', function() {
                // 全てのメイン画像とサムネイルのactiveクラスを削除
                mainImages.forEach(img => img.classList.remove('active'));
                thumbnails.forEach(thumb => thumb.classList.remove('active-thumbnail'));

                // クリックしたサムネイルに対応するメイン画像を表示
                mainImages[index].classList.add('active');
                thumbnail.classList.add('active-thumbnail');
            });
        });
    </script>

</body>

{% endblock %}
